@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font: 1rem/1.5rem 'Open Sans', sans-serif;
    margin:0;
}

.container{
    width: 95%;
  margin:0;
}

#hero{
    background:url(../img/bgHome.jpg) no-repeat;
    background-size: cover;
    height: 50rem;
}

#ad{
    background:url(../img/bgAbout.jpg) no-repeat;
    background-size: cover;
    height: 50rem;
}

#ad .container{
    background: rgba(0,0,0,.7);
    color: white;
    width: 80%;
    text-align: center;
   }
h3{
    font: 2.508rem 'Times New Roman', Times, serif;
    color: #fff;
    text-transform:uppercase;
    text-align: center;
    font-weight:800;
} 

strong {
    color: #0070bb;
}

a {
    color: #fff;
    border-style: solid;
    border-color: #fff;
    font-style: italic;
    text-decoration: none;
}

#icons {
    background-color: aliceblue;

}

#icons h1  {
    color: #0070bb;
    font: 2.508rem 'Times New Roman', Times, serif;
}

.chart {
  display: inline-flex;
}

.computer {
    display: flex;
}

#join {
    background:url(../img/bgAbout.jpg) no-repeat;
    background-size: cover;
    height: 50rem;
}

#join .container {
    background: rgba(0,0,0,.7);
    color: white;
    width: 80%;
    text-align: center;

}




@media (min-width:768px) /* for tablets */{
}
@media (min-width: 992px) /* for laptops */{
    #hero p {
        background-color: black;
        color: #fff;
    }
    
}
